@font-face {
    font-family: "BlenderPro";
    src: url(assets/BlenderPro-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: blender pro;
}
body ,html{
    height: 100%;
    width: 100%;
}

.frontpage{
    height: 100vh;
    background-image: url(assets/background\ 2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.navleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;
    margin-left: 40px;
    font-weight: 100;
}
.navright{
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
}
.navright img{
    height: 140px;
}
.navright i{
    font-size: 20px;
    color: #FF6600;
}
/* .heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
} */
.heading h1{
    font-size: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.heading h2{
    font-size: 20px;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
button{
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 43%;
    /* transform: translate(-50%, -50%); */
    width: 200px;
    height: 70px;
    background-color: #FF6600;
    color: white;
    border: none;
    transition: 0.3s all;
    transition-delay: 0ms;
}
button:hover{
    background-color: white;
    color: #FF6600;
}
.hori-img{
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hori-img img{
    height: 400px;
    filter: brightness(70%);
}

.text{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1100px;
}
.text h1{
    font-size: 85px;
    text-align: center;
    line-height: 80px;
    font-weight: 900;
}
.types{
    /* border: 1px solid red; */
    margin:0px 45px ;
    height: 515px;
    display: flex;
    gap: 1.5%;
}
.type{
    height: 515px;
    width: 32.5%;
    /* border: 1px solid black; */
}
.type img{
    width: 100%;
}
.type h4{
    margin-top: 21px;
    font-size: 17px;
}
.type h2{
    margin-top: 11px;
    font-size: 29px;
}
.updates{
    margin:0px 40px ;
    height: 705px;
    display: flex;
    justify-content: space-between;
    gap: 52px;
}
.update{
    height: 705px;
    width: 32.5%;
}
.update img{
    width: 100%;
    height: 440px;
}
.update h4 ,h1,p{
    margin-top: 20px;
}
.update h1{
    font-size: 30px;
}
.update p{
    font-size: 21px;
    text-align:left;
    line-height: 30px;
    font-weight: 100;
}   
.btn{
    height: 75px;
    width: 200px;
    background-color: #FF6600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 80px 0px;
}

.btn:hover{
    background-color: white;
    color: #FF6600;
    border: 1px solid #FF6600;
}
.social{
    height: 540px;
    display: flex;
    margin: 0px 40px;
}
.left{
    height: 540px;
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
}
.one{
    height: 270px;
    width: 350px;
}
.one img{
    object-fit: cover;
    height: 270px;
    width: 360px;
}
.right{
    height: 540px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    background-color: black;
    color: white;
}
.right h1{
    font-size: 50px;
}
.right h3{
    color: rgb(118, 118, 118);
    font-size: 20px;
}
.follow{
    height: 70px;
    width: 180px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.follow h3{
    color: white;
    font-size: 20px;
}
.join{
    height: 215px;
    border-bottom: 1px solid rgb(180, 180, 180);
    display: flex;
    justify-content: center;
    align-items:center  ;
    gap: 20px;
}
.join h3{
    font-size: 21.5px;
}
.btn2{
    height: 70px;
    width: 150px;
    border: 1px solid #FF6600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF6600;
}
.para p{
    padding: 40px 380px;
    height: 245px;
    margin-top: 0px;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    color: rgb(185, 185, 185);
}
.footer{
    background-color: black;
    height: 635px;
}
.elements{
    border-bottom: 1px solid white;
    height: 525px;
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
    color: white;
}
.element{
    height: 400px;
    width: 250px;
    margin-top: 86px;
}
.element h2{
    margin-bottom: 20px;
    font-size: 24px;
    
}
.element p{
    font-size: 20px;
    font-weight: 200;
    margin-top: 0px;
    line-height: 34px;
}
.element p:hover{
    color: #FF6600;
}
.soc{
    display: flex;
    justify-content: space-between;
    font-size: 27px;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 40px 40px;
}
.copyright h4{
    color: white;
    font-weight: 100;
}
.back{
    color: #FF6600;
    margin-left: 20px;
}